# Python
__pycache__/
*.pyc

# Conda / venv
.env
.venv

# Videos & large files
*.mp4
*.avi
videos/

# OS files
.DS_Store

# VS Code
.vscode/

# SUMO files
sumo/output/
*.tripinfo.xml
*.queue.xml
*.log

# Ignore everything in yolov8n except trained weights you care about
week1/yolov8n/*
!week1/yolov8n/*.pt
!week1/yolov8n/README.md
